<%= render "shared/second.header" %>

<div class="main">
  <div class='side-bar'>
    <%= render "shared/side_bar" %>
  </div>

  <div class="users-information">
    <h2 class="user-information-title">ユーザー情報</h2>
    <%= form_with model:@user, edit_user_registration_path local: true do |f| %>
    
    <%#= render 'shared/error_messages', model: f.object %>
    <span>regidration/edit</span>

    <%# アイコン画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        出品画像
        <span class="indispensable">必須</span>
      </div>
      <%# <div class="click-upload"> %>
        <%# <p> %>
          <%# クリックしてファイルをアップロード %>
        <%# </p> %>
        <%# <%= f.file_field :image, id:"user-icon" %> %>
      <%# </div> %>
    </div>
    <%# /アイコン画像 %>
    <%# ニックネームの変更 %>
    <div class="new-items">
      <div class="weight-bold-text">
        名前
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :nickname, class:"user-nickname", id:"user-nickname", placeholder:"ニックネーム" %>
    </div>
    <%# /ニックネームの変更 %>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "変更する" ,class:"sell-btn" %>
      <%=link_to 'もどる', "#", class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
    <% end %>    

</div>

<%= render "shared/footer" %>