<%= render "shared/second.header" %>

<div class="main">

  <div class="flip">
    <div class="front">
      <div class="user-information">    
        <%# ユーザーの概要 %>
        <div class="user-show">
          <h1 class="user-information-title">ユーザー情報</h1>
          <div class="user-box">
            <div class="user-info">
              <h2 class="user-info-name">
                <%= @user.nickname %>
              </h2>
              <div class="user-info-email">
                <span>Email: <%= @user.email %></span>
              </div>
              <div class="user-info-birthday">
                <span>Birthday: <%= @user.birth_date %></span>
              </div>
              <div class="user-info-authority">
                <span>authority: 
                  <% if @user.authority == true %>
                    権限あり
                  <% else %>
                    権限なし  
                  <% end %>
                </span>
              </div>
            </div>
            <div class='user-icon'>
              <span class="material-icons" id="user-icon">
                account_box
              </span>
            </div>
          </div>
        </div>
        <%# /ユーザーの概要 %>
      </div>
    </div>

    <div class="back">
      <div class="shop-information">
        <div class="shop-show">
          <h1 class="shop-header">店舗情報</h1>
          <div class="shop-box">
            <div class="shop-info">
              <div class="shop-name">
              <% if @shop.present? %>
                <span><%= @shop.name %></span>
              <% else %>
                <span>no info</span>
              <% end %>
              </div>
              <div class="shop-PostalCode">
              <% if @shop.present? %>
                <span>Postal Code: <%= @shop.postal_code %></span>
              <% else %>
                <span>Postal Code: no info</span>
              <% end %>
              </div>
              <div class="shop-address">
              <% if @shop.present? %>
                <span>Address: <%= @shop.address %></span>
              <% else %>
                <span>Address: no info</span>
              <% end %>
              </div>
              <div class="shop-PhoneNumber">
              <% if @shop.present? %>
                <span>TEL: <%= @shop.phone_number %></span>
              <% else %>
                <span>TEL: no info</span>
              <% end %>
              </div>
              <div class="shop-text">
                <div>Info:</div>
                <% if @shop.present? %>
                  <div><%=safe_join(@shop.text.split("\n"),tag(:br))%></div>
                <% else %>
                  <div>no info</div>
                <% end %>
              </div>
            </div>
            <% if @shop.present? && @shop.image.attached?  %>
              <div class="shop-image">
                <%= image_tag @shop.image %>
              </div>
            <% else %>
              <div class='user-icon'>
                <span class="material-icons" id="user-icon">
                  account_box
                </span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% if @shop.present? %>
  <div class="shop-map">
    <div>場所を地図で確認する</div>
    <input type="text" id="address" value=<%= @shop.address %>>
    <button id="search">Search</button>
    <div class="google-map" id="target"></div>
  </div>
<% end %>

</div>

<%= render "shared/footer" %>