<%= render "shared/second.header" %>

<div class="main">
  <div class="user-information">
    <%#= link_to 'ユーザー情報を編集する', edit_user_registration_path  %>
    
    <%# ユーザーの概要 %>
    <div class="user-show">
      <h1 class="user-information-title">ユーザー情報</h1>
      <div class="user-box">
        <div class="user-info">
          <h2 class="user-info-name">
            <%= @user.nickname %>
          </h2>
          <div class="user-info-email">
            <span>Email: <%= @user.email %></span>
          </div>
          <div class="user-info-birthday">
            <span>Birthday: <%= @user.birth_date %></span>
          </div>
          <div class="user-info-authority">
            <span>authority: 
              <% if @user.authority == true %>
                権限あり
              <% else %>
                権限なし  
              <% end %>
            </span>
          </div>
        </div>
        <div class='user-icon'>
          <span class="material-icons" id="user-icon">
            account_box
          </span>
        </div>
      </div>
    </div>
    <%# /ユーザーの概要 %>
  </div>
</div>

<%= render "shared/footer" %>