<div class='footer'>
  <div class='footer-contents'>
    <div class="manualist-details">
      <%= link_to image_tag("1.png",class:"manualist-icon"), root_path %>
    </div>
    <div class='manualist-details'>
      <h2 class='footer-content-head'>MANUALISTについて</h2>
      <ul>
        <li><%= link_to '利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'ロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
        <% if user_signed_in? && current_user.authority == true %>
        <li><%= link_to '店舗情報入力ページ', new_shop_path, class: "footer-link" ,id:"shop_input"%></li>
        <% end %>
      </ul>
    </div>
    <div class='manualist-details third'>
      <h2 class='footer-content-head'>MANUALISTを見る</h2>
      <ul>
        <% if user_signed_in? %>
        <li><%= link_to 'ユーザー詳細', user_path(current_user.id), class: "footer-link" %></li>
        <% end %>
        <li><%= link_to '掲示板', root_path, class: "footer-link" %></li>
        <li><%= link_to 'マニュアル一覧', posts_path, class: "footer-link" %></li>
        <% if user_signed_in? && current_user.authority == true %>
        <li><%= link_to '店舗情報入力ページ', new_shop_path, class: "footer-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <p>© ManuaList</p>
</div>