<header class='top-page-header'>
  <div class="over-top-header">
    <div class="header-icon">
      <%= link_to image_tag("4.png", class:"header-white-icon"), root_path %>
    </div>
    <% if current_user.authority == true %>
    <div class="post-new-box">
      <%= link_to '投稿する', new_post_path, class:"post-new" %>
    </div>
    <% end %>
  </div>
  <div class='nav'>
    <div class='lists-left' id="menu-lists">
      <%= link_to 'MENU', "#", class: "category-list" %>
      <span class="menu-content" id="menu">
        <%= link_to 'TOP PAGE',  root_path, class:"menu-list" %>
        <%= link_to 'MANUAL',  posts_path, class:"menu-list", id:"posts-id" %>
      </span>
    </div>
    <div class='search-bar-contents'>
      <%#= link_to image_tag(""), class:"furima-icon"), "/" %>
      <%= form_with(url: search_post_path(:id), local: true, method: :get, class: "search-form") do |f| %>
        <%= f.text_field :keyword, placeholder: "manualを検索する", class: "search-input" %>
        <%= f.submit '', class: "search-btn" %>
        <span class="material-icons" id="search-icon">
            search
        </span>
      <% end %>
    </div>

    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>