<%= render "shared/header" %>

<div class = 'main'>
  <div class= 'manual-content'>
    <% @posts.each do |post| %>
    <ul>
      <li class="list">
        <% if post.mark == true %>
          <div class='manual-box-mark'>
            <%= link_to post_path(post.id),class:"manual-lists" do %>
            <div class="title">
              <span class="manual-number"><%= post.number %></span>
              <span class="manual-title"><%= post.title %></span>
            </div>
            <div class="video-box">
              <% if post.image.attached? %>
                <div class="video-image">
                  <%= image_tag post.image %>
                </div>
              <% else %>
                <div class="video">
                  <video src="<%= rails_blob_path(post.video) %>" type="video/mp4",controls></video>
                </div>
              <% end %>
            </div>
            <% end %>
          </div>
        <% else %>
          <div class='manual-box'>
            <%= link_to post_path(post.id),class:"manual-lists" do %>
            <div class="title">
              <span class="manual-number"><%= post.number %></span>
              <span class="manual-title"><%= post.title %></span>
            </div>
            <div class="video-box">
              <% if post.image.attached? %>
                <div class="video-image">
                  <%= image_tag post.image %>
                </div>
              <% else %>
                <div class="video">
                  <video src="<%= rails_blob_path(post.video) %>" type="video/mp4",controls></video>
                </div>
              <% end %>
            </div>
            <% end %>
          </div>
        <% end %>
      </li>
    </ul>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>