<%= render "shared/header" %>

<div class = 'main'>
  <div class= 'manual-content'>
    <% @posts.each do |post| %>
    <li class="list">
      <div class='manual-box'>
        <%= link_to post_path(post.id) do %>
          <p class="title">
            <%= post.number %>
            <%= post.title %>
          </p>
          <% if post.image.attached? %>
            <div class="video-image">
              <%= image_tag post.image %>
            </div>
          <% else %>
            <div class="video">
              <video src="<%= rails_blob_path(post.video) %>" type="video/mp4",controls></video>
            </div>
          <% end %>
        <% end %>
      </div>
    </li>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>